.card {
    .card-header {
        display: grid;
        grid-template-columns: auto auto;

        justify-content: space-between;
        align-items: center;

        border-bottom: none;

        @media (max-width: 767px) {
            grid-template-columns: auto;
            justify-content: center;
        }

        h5 {
            margin-inline-end: 1.5rem;
        }

        .number {
            margin-inline: 6px;
            color: #d3b27b;
        }

        .form-select {
            background-image: url(../images/icons/arrow-down.svg);
            background-size: auto;

            color: #949ab7;
            border: none;
        }

        .btn {
            color: #2aa6a4;
            background: rgba(42, 166, 164, 0.1);
            border: 1px solid rgba(42, 166, 164, 0.3);

            padding-inline: 2rem;
            margin-inline-start: 1.5rem;

            &:hover {
                background: rgba(42, 166, 164, 0.2);
            }
        }
    }

    .card-body {
        label {
            color: rgba(#474747, 0.5);
        }

        .table {
            thead {
                background: rgba(#f2f2f2, 0.3);
                border-bottom: 2px solid #f9f6f6;

                tr {
                    th {
                        color: #969799;
                        font-weight: 400;

                        &:first-of-type {
                            padding-inline-start: 2rem;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        position: relative;
                        font-weight: 600;

                        &:first-of-type {
                            padding-inline-start: 2rem;
                        }

                        &.light {
                            color: rgba(#444, 0.5);
                        }
                    }
                }
            }
        }
    }

    &.style-2 {
        .card-header {
            background-color: rgba(#f2f2f2, 0.3);
            border-bottom: 2px solid #f9f6f6;
        }

        .card-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            @media (max-width: 991px) {
                grid-template-columns: 1fr;
                gap: 1.5rem 0;
            }

            label {
                margin-bottom: 0.5rem;
            }

            .form-control {
                &::placeholder {
                    text-align: end;
                }
            }
        }
    }
}
