.card {
    .card-header {
        display: grid;
        grid-template-columns: auto auto;

        justify-content: space-between;
        align-items: center;

        border-bottom: none;

        @media (max-width: 991px) {
            grid-template-columns: auto;
            justify-content: center;

            padding-inline: 0.5rem;
        }

        h5 {
            margin-inline-end: 1.5rem;
        }

        .number {
            margin-inline: 6px;
            color: #d3b27b;
        }

        .form-select {
            background-image: url(../images/icons/arrow-down.svg);
            background-size: auto;

            color: #949ab7;
            border: none;

            @media (max-width: 991px) {
                max-width: fit-content;
            }
        }

        .btn {
            color: #2aa6a4;
            background: rgba(42, 166, 164, 0.1);
            border: 1px solid rgba(42, 166, 164, 0.3);

            padding-inline: 2rem;
            margin-inline-start: 1.5rem;

            @media (max-width: 991px) {
                padding-inline: 0.5rem;
                margin-inline-start: 0.5rem;
                margin-top: 0.5rem;
            }

            &:hover {
                background: rgba(42, 166, 164, 0.2);
            }
        }

        .active-all {
            .btn {
                background-color: transparent;
                border: none;

                &:first-of-type {
                    color: $orange;
                    border-inline-end: 1px solid rgba(#000, 0.2);
                    border-start-end-radius: 0;
                    border-end-end-radius: 0;
                }

                &:last-of-type {
                    color: #6c6c6c;
                }
            }
        }
    }

    .card-body {
        @media (max-width: 767px) {
            padding-inline: 1rem;
        }

        label {
            color: rgba(#474747, 0.5);
        }

        .table {
            thead {
                background: rgba(#f2f2f2, 0.3);
                border-bottom: 2px solid #f9f6f6;

                tr {
                    th {
                        color: #969799;
                        font-weight: 400;

                        &:first-of-type {
                            padding-inline-start: 2rem;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        position: relative;
                        font-weight: 600;

                        &:first-of-type {
                            padding-inline-start: 2rem;
                        }

                        &.light {
                            color: rgba(#444, 0.5);
                        }
                    }
                }
            }
        }

        .switch-item {
            display: flex;
            justify-content: space-between;

            background: rgba(42, 166, 164, 0.1);
            color: #2aa6a4;

            border: 1px solid rgba(42, 166, 164, 0.3);
            border-radius: 0.5rem;

            padding: 0.5rem;
        }
    }

    &.style-2 {
        .card-header {
            background-color: rgba(#f2f2f2, 0.3);
            border-bottom: 2px solid #f9f6f6;
        }

        .card-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            @media (max-width: 991px) {
                grid-template-columns: 1fr !important;
                gap: 1.5rem 0;
            }

            @for $i from 2 through 5 {
                &.grid-#{$i} {
                    grid-template-columns: repeat($i, 1fr);
                }
            }

            label {
                margin-bottom: 0.5rem;
            }
        }
    }
}
