.btn-primary,
.btn-danger {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.btn-primary {
    &:hover {
        background-color: darken($primary, 5%);
    }
}

.btn-danger {
    &:hover {
        background-color: darken($red, 5%);
    }
}
