.modal {
    .modal-header {
        border-bottom: none;

        .close {
            margin: 0;
            margin-inline-start: auto;

            background-color: rgba(#000, 0.2);
            color: #fff;

            border-radius: 50%;
            border: none;

            width: 33px;
            height: 33px;

            font-weight: 600;
            font-size: 1.3rem;

            &:hover {
                background-color: rgba(#000, 0.3);
            }
        }
    }

    .modal-body {
        text-align: center;
        padding-top: 7rem;

        &.success {
            &::before,
            &::after {
                position: absolute;
                right: 50%;
                transform: translateX(50%);
            }

            &::before {
                content: "";
                top: -2rem;

                width: 10.8rem;
                height: 8.5rem;

                background-image: url(../images/icons/modals/bg.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &::after {
                content: url(../images/icons/modals/check.svg);
                top: 0;
            }
        }

        .title {
            color: #26b4b0;
            margin-top: 1rem;
            font-weight: 700;
        }

        .desc {
            width: 60%;
            margin: auto;
        }
    }
    .modal-footer {
        display: grid;
        justify-content: center;
        grid-template-columns: 40%;

        border-top: none;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
}
