.modal {
    .modal-content {
        border: none;

        .modal-header {
            border-bottom: none;

            .close {
                margin: 0;
                margin-inline-start: auto;

                background-color: rgba(#000, 0.2);
                color: #fff;

                border-radius: 50%;
                border: none;

                width: 33px;
                height: 33px;

                font-weight: 600;
                font-size: 1.3rem;

                &:hover {
                    background-color: rgba(#000, 0.3);
                }
            }
        }

        .modal-body {
            text-align: center;
            padding-top: 7rem;

            &.success {
                &::before,
                &::after {
                    position: absolute;
                    right: 50%;
                    transform: translateX(50%);
                }

                &::before {
                    content: "";
                    top: -2rem;

                    width: 10.8rem;
                    height: 8.5rem;

                    background-image: url(../images/icons/modals/bg.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &::after {
                    content: url(../images/icons/modals/check.svg);
                    top: 0;
                }
            }

            .title {
                color: #26b4b0;
                margin-top: 1rem;
                font-weight: 700;
            }

            .desc {
                width: 85%;
                margin: auto;
            }
        }

        .modal-footer {
            display: grid;
            justify-content: center;
            grid-template-columns: 40%;

            border-top: none;

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
    }

    &.long {
        .modal-content {
            border-inline-start: 6px solid #d3b98c;
            border-start-start-radius: 0;
            border-end-start-radius: 0;

            .modal-header {
                display: grid;
                grid-template-columns: auto 1fr auto;
                column-gap: 1.25rem;

                border-start-start-radius: 0;
                border-end-start-radius: 0;

                background: #2abab5;
                padding-block: 2.5rem;
                position: relative;

                * {
                    color: #fff;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/lines.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .close {
                    background-color: #f2f7f7;
                    color: #2abab5;

                    border-radius: 0.5rem;
                }

                .status {
                    padding: 0.35rem 1.5rem;
                    margin-inline-start: auto;

                    border-radius: 1.5rem;

                    background-color: #2aa6a4;
                }
            }

            .modal-body {
                text-align: start;
                padding: 1rem 2.25rem 2rem;

                .appoints-count {
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    column-gap: 6px;

                    background: rgba(42, 186, 181, 0.08);
                    border-radius: 8px;
                    padding: 0.75rem;
                }

                .item {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-template-rows: auto auto 1fr;
                    column-gap: 10px;

                    margin-block: 1.25rem;

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 50px;
                        height: 50px;

                        background: rgba(42, 186, 181, 0.15);
                        border-radius: 8px;
                    }

                    .item-desc {
                        grid-column-start: 2;
                        grid-row-start: 3;
                        margin-top: -1rem;
                    }
                }

                .map {
                    position: relative;

                    iframe {
                        width: 100%;
                        height: 8.5rem;

                        margin-top: 0.5rem;
                        border-radius: 1rem;
                    }

                    .btn {
                        position: absolute;
                        bottom: 50%;
                        right: 50%;
                        transform: translate(50%, 50%);
                        width: 40%;

                        @media (max-width: 767px) {
                            width: 75%;
                            font-size: 11px;
                        }
                    }
                }

                hr {
                    background-color: #c4c4c4;
                }

                .input-item {
                    margin-top: 1.5rem;

                    label {
                        color: rgba(#474747, 0.5);
                        margin-bottom: 0.5rem;
                    }

                    .form-control {
                        color: rgba(#474747, 0.55);
                        font-weight: bold;

                        &::placeholder {
                            opacity: 1 !important;
                            color: red !important;
                        }
                    }
                }
            }

            .modal-footer {
                grid-template-columns: 1fr;
                padding: 1.75rem 2.25rem 3.75rem;
                box-shadow: 0px -4px 4px rgba(196, 196, 19, 0.27);
            }
        }
    }
}
