// p, heading
$headings-margin-bottom: 0;

// colors
$body-color: #444;
$orange: #d3b27b;
$primary: #26b4b0;

$theme-colors: (
    "primary": $primary,
);

// breadcrumbs
$breadcrumb-active-color: #fff;
$breadcrumb-item-padding-x: 10px;

// inputs
$input-border-radius: 0.5rem;
$input-padding-y: 0.5rem;
$input-font-weight: 600;
$input-color: rgba(#474747, 0.8);
$input-group-addon-bg: #fff;
$input-disabled-bg: #f5f5f5;
$input-focus-border-color: #86b7fe;
$input-disabled-border-color: transparent;
$form-select-focus-box-shadow: none;

// cards
$card-border-radius: 0.5rem;
$card-inner-border-radius: 0.5rem;
$card-cap-padding-y: 1rem;
$card-cap-padding-x: 2rem;
$card-spacer-x: 2rem;
$card-spacer-y: 1.5rem;
$card-cap-bg: #fff;

// modals
$modal-content-border-radius: 10px;
$modal-sm: 24rem;

// buttons{
$btn-padding-x: 1.25rem;
