// p, heading
$headings-margin-bottom: 0;

// colors
$body-color: #444;
$orange: #d3b27b;

// breadcrumbs
$breadcrumb-active-color: #fff;
$breadcrumb-item-padding-x: 10px;

// inputs
$input-border-radius: 0.5rem;
$input-group-addon-bg: #fff;
$form-select-focus-box-shadow: none;

// cards
$card-border-radius: 0.5rem;
$card-inner-border-radius: 0.5rem;
$card-cap-bg: #fff;
$card-cap-padding-y: 1rem;
$card-cap-padding-x: 2rem;
$card-spacer-y: 0;
$card-spacer-x: 0;
