.filters {
    display: grid;
    grid-template-columns: 1fr 10% 10% auto;
    gap: 14px;

    padding: 1.2rem 1.5rem;
    margin-bottom: 1.5rem;

    background: #f9fbfc;

    border: 1px solid rgba(169, 169, 169, 0.25);
    border-radius: 12px;

    @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: 25% 25% 1fr;
        grid-template-rows: auto auto;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    .filter {
        @media (min-width: 768px) and (max-width: 991px) {
            display: flex;
            align-items: center;

            &.search {
                display: flex;
                flex-direction: column;
                grid-area: 1/1/2/4;
            }
        }

        label {
            color: rgba(#444, 0.5);
            margin-bottom: 0.5rem;
            margin-inline-end: 0.5rem;
        }

        select {
            background-image: url(../../../assets/images/icons/chevron-down.svg);
            padding-inline-start: 0.75rem;
        }
    }
}
