@import "./variables";

@import "../node_modules/bootstrap//scss/bootstrap.scss";

@import "./global";
@import "Header/Header";
@import "SideMenu/SideMenu";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: "Cairo", sans-seif;
    text-align: start;
    direction: rtl;
}
